body {
    background: #181a1b;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: Tahoma, sans-serif;
}
.content {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}