// colors
.text-neon-blue {
    color: #17c0f1 !important;
}

// alignments
.text-center {
    text-align: center;
}
.align-right {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}