// colors
.text-neon-blue {
    color: #17c0f1;
}
.text-neon-red {
    color: #fc0005;
}

// alignments
.text-center {
    text-align: center;
}
.align-right {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
.align-center {
    justify-content: center;
    display: flex;
    width: 100%;
}
.align-items-start {
    align-items: start;
}

// fonts
.font-size-14 {
    font-size: 14px;
}
.font-size-18 {
    font-size: 18px;
}

// width
.max-w-600 {
    max-width: 600px;
}